In [4]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import us
from us import states
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

# Census API Key
from config import api_key
c = Census(api_key, year=2016)

In [6]:
csv_file = "Resources/table04c.csv"
table_4c_df= pd.read_csv(csv_file)
table_4c_df.head()

,"Table with row headers in column A, and column headers in rows 4 through 5.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,"Table 4c. Reported Voting and Registration, b...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(In thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,STATE,Age,Total Population,Total Citizen Population,Registered,NaN,NaN,NaN,NaN,Voted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Total registered,Percent registered\n(Total),Margin of Error 1,Percent registered\n(Citizen),Margin of Error 1,Total voted,Percent voted\n(Total),Margin of Error 1,Percent voted\n(Citizen),Margin of Error 1,NaN,NaN,NaN,NaN,NaN
4,US,Total,"245,502","224,059","157,596",64.2,0.3,70.3,0.3,"137,537",56.0,0.3,61.4,0.3,NaN,NaN,NaN,NaN,NaN